:root {
    --dark-grey: #74839C;
    --light-grey: #EFF2F7;
}

* {
    margin: 5mm;
}


.nav-link:hover {
    color: var(--dark-grey);
    text: var(--light-grey);
}

h1 {
    font-size: 35;
}

.jumbotron {
    background-color: var(--dark-grey) !important;
}

.jumboCopy {
    margin-left: 0;
}


.button:focus,
.button:hover {
    color: var(--dark-grey);
    text-decoration: none;
    background: var(--dark-grey);
}

h2 {
    font-size: 20px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.bio {
    justify-content: flex-start;
}

.details {
    align-items: center;
    justify-content: flex-end;
}

footer {
    background-color: var(--dark-grey);
    display: block;
    margin-right: 0;
    margin-left: auto;
}